body {
    background-color: rgb(220, 206, 188);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    line-height: 1.5;
}
main {
    margin: 2em 10em;
    color: rgb(27, 87, 128);
}
h1 {
    padding-bottom: 2em;
}
.meme {
    height: 85vh;
}
input {
    cursor: pointer;
    padding: 0;
}
div {
    display: flex;
    flex-direction: column-reverse;
    padding: 1em 0 1em;
    border-color: rgb(0, 0, 0, 0.5);
    border-bottom-style: solid;
}
span {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}
.image-box {
    display: flex;
    flex-direction: column; 
}
main:hover span{
    color: #000;
}
main:hover .add { 
    display: block;
}
.hide {
    display: none;
}
div:hover .hide { 
    display: block;
}
div:hover .hide.add {
    transition-delay: 250ms;
    display: none;
}

input {
    height: 85vh;
    border: none; 
}
input:focus ~ span {
    color: rgb(27, 87, 128);
}
input:focus {
    display: block;
    height: 85vh;
    border: none;
    outline: none;
}
.input-img1 {
    background: url(imgs/1.jpg) center no-repeat; 
    background-size: contain;
}
.input-img1:focus{
    background: url(imgs/1.jpg) center no-repeat ;
    background-clip: border-box;
    background-size: contain;
}
.input-img2 {
    background: url(imgs/2.jpg) center no-repeat; 
    background-size: contain;
}
.input-img2:focus{
    background: url(imgs/2.jpg) center no-repeat;  
    background-clip: border-box;
    background-size: contain;
}
.input-img3 {
    background: url(imgs/3.jpg) center no-repeat; 
    background-size: contain;
}
.input-img3:focus{
    background: rgb(220, 206, 188, 0.0) url(imgs/3.jpg) center no-repeat;  
    background-clip: border-box;
    background-size: contain;
}
.input-img4 {
    background: url(imgs/4.jpg) center no-repeat; 
    background-size: contain;
}
.input-img4:focus{
    background: url(imgs/4.jpg) center no-repeat;
    background-size: contain;
}
.input-img5 {
    background: url(imgs/5.jpg) center no-repeat; 
    background-size: contain;
}
.input-img5:focus{
    background: url(imgs/5.jpg) center no-repeat;  
    background-clip: border-box;
    background-size: contain;
}
input:focus ~ span img.hide ~ span .add {
    display: none;
}
input:focus ~ span .hide{
    display: none;
}
input:focus ~ span {
    color: #000;
}
main:hover input:focus ~ span .close {
    display: block;
}